<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
</head>
<body>
<div class="div1">
    <h1>Gutenberg Project</h1>
    <p>A social cataloging website that allows you to freely search its database of books, annotations, 
        and reviews.</p>
        <div class="left">
        <mat-card (click)="navigate('Fiction')"><mat-card-title><img src="../../assets/Fiction.svg">     FICTION</mat-card-title></mat-card><br><br>
        <mat-card (click)="navigate('Drama')"><mat-card-title><img src="../../assets/Drama.svg">     DRAMA</mat-card-title></mat-card><br><br>
        <mat-card (click)="navigate('Humour')"><mat-card-title><img src="../../assets/Humour.svg">     HUMOUR</mat-card-title></mat-card><br><br>
        <mat-card (click)="navigate('Politics')"><mat-card-title><img src="../../assets/Politics.svg">     POLITICS</mat-card-title></mat-card><br><br>
        </div>
        <div class="right">
        <mat-card (click)="navigate('Philosophy')"><mat-card-title><img src="../../assets/Philosophy.svg">     PHILOSOPHY</mat-card-title></mat-card><br><br>
        <mat-card (click)="navigate('History')"><mat-card-title><img src="../../assets/History.svg">     HISTORY</mat-card-title></mat-card><br><br>
        <mat-card (click)="navigate('Adventure')"><mat-card-title><img src="../../assets/Adventure.svg">     ADVENTURE</mat-card-title></mat-card><br><br>
        </div>
        
    </div>
    </body>
</html>
  